<script type="text/javascript">
  var tagEntity = unescape(document.getElementById('hide_entity_tag').value);
  document.getElementById('entity_tag_a').value = tagEntity;
  $('#entities_list').resetSelection();
  canSelect = false;

  function escape(text)
  {
    return text.replace(/&/g, '&amp;')
               .replace(/</g, '&lt;')
               .replace(/>/g, '&gt;')
               .replace(/"/g, '&quot;');
  }
  function unescape(text)
  {
    return text.replace(/&quot;/g, '"')
               .replace(/&lt;/g, '<')
               .replace(/&gt;/g, '>')
               .replace(/&amp;/g, '&');
  }
  function sendTagEntity()
  {
    document.getElementById('hide_entity_tag').value =
      escape(document.getElementById('entity_tag_a').value);
  }
  function onCancel()
  {
   canSelect = true;
   $('#actions').html('<%= escape_javascript(render :partial => 'form_index') %>');
   $('#entities_list').resetSelection();
  }
  function onReset()
  {
   document.getElementById('entity_tag_a').value = tagEntity;
   document.getElementById('save_entity').disabled = true;
  }
</script>

<table>
  <tr align="right">
    <td>
      <input name="cancel" type="button" value="cancel"
        onclick="onCancel();"/>
      <input name="reset" type="button" value="reset"
        onclick="onReset();"/>
    </td>
    <td width="50">
      <%= form_for(@entity, :remote => true) do |f| %>
      <%= f.submit "save", :id => "save_entity", :disabled => "true",
                           :onclick => "sendTagEntity();" %>
      <%= f.hidden_field :tag, :id => "hide_entity_tag", :value => @entity.tag %>
      <% end %>
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      tag:
      <input id="entity_tag_a" name="entity_edit" type="text" value="" size="83"
             onkeypress="document.getElementById('save_entity').disabled = false;"/>
    </td>
  </tr>
</table>
